.product-details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    color: #333;
    flex-wrap: wrap;
}

.product-details img {
    max-width: 100%;
    object-fit: cover;
}

.product-infos{
    flex: 1;
    max-width: 600px;
}

.product-infos h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-infos .price{
    font-size: 20px;
    color: #9893fb;
    font-weight: bold;
    margin-bottom: 15px;
}


.product-infos .description{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.add-to-cart{
    padding: 15px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.add-to-cart:hover{
    background-color: #333;
}

@media (max-width: 768px){
    .product-details{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-infos h1{
        font-size: 20px;
    }

    .product-infos .price{
        font-size: 20px;
    }

    .product-infos .description{
        font-size: 14px;
    }

    .add-to-cart{
        width: 100%;
    }
}