.checkout-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkout-form h3 {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.checkout-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s ease;
}

.checkout-form input:focus {
  border-color: #9893fb;
}

.checkout-form button {
  margin-top: 10px;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.checkout-form button:hover {
  background-color: #333;
}

.success-message {
  text-align: center;
  margin-top: 20px;
  color: green;
  font-size: 20px;
  font-weight: bold;
}